#set( $cols = [] )
#set( $vals = [] )
#foreach( $entry in $ctx.args.createRetweetInput.keySet() )
  #set( $discard = $cols.add($entry) )
  #set( $discard = $vals.add("'$ctx.args.createRetweetInput[$entry]'") )
#end
#set( $valStr = $vals.toString().replace("[","(").replace("]",")") )
#set( $colStr = $cols.toString().replace("[","(").replace("]",")") )
{
  "version": "2018-05-29",
  "statements":   ["INSERT INTO Retweet $colStr VALUES $valStr", "SELECT * FROM Retweet WHERE user_id='$ctx.args.createRetweetInput.user_id'"]
}