#set( $updateList = {} )
#foreach( $entry in $ctx.args.updateTweetInput.keySet() )
  #set( $discard = $updateList.put($entry, "'$ctx.args.updateTweetInput[$entry]'") )
#end
#set( $update = $updateList.toString().replace("{","").replace("}","") )
{
  "version": "2018-05-29",
  "statements":   ["UPDATE Tweet SET $update WHERE id=$ctx.args.updateTweetInput.id}", "SELECT * FROM Tweet WHERE id=$ctx.args.updateTweetInput.id"]
}