#set( $cols = [] )
#set( $vals = [] )
#foreach( $entry in $ctx.args.createLikeInput.keySet() )
  #set( $discard = $cols.add($entry) )
  #set( $discard = $vals.add("'$ctx.args.createLikeInput[$entry]'") )
#end
#set( $valStr = $vals.toString().replace("[","(").replace("]",")") )
#set( $colStr = $cols.toString().replace("[","(").replace("]",")") )
{
  "version": "2018-05-29",
  "statements":   ["INSERT INTO Like $colStr VALUES $valStr", "SELECT * FROM Like WHERE user_id='$ctx.args.createLikeInput.user_id'"]
}